* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #f8f4e3 #001d3d;
  color: rgb(0, 0, 0);
}
/* 
body{


  background-image: url(img/sunset-with-mountains-lake_950347-24327.avif);
 background-repeat: no-repeat;
 background-size: cover;

 
} */

.header-link {
  text-transform: capitalize;
  padding-top: 30px;
  display: flex;
  margin-left: 20px;
}

.header-link a {
  text-decoration: none;
  padding: 5px;
  font-size: small;
  text-transform: capitalize;
}

.g-img img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
  width: 350px;
}

.g-img input {
  display: block;

  margin: 0 auto;

  position: relative;

  bottom: 80px;

  padding: 10px;

  width: 500px;

  border-radius: 20px;
}

span {
  position: relative;
}

.g-img span img {
  width: 20px;
  position: absolute;
}

.main {
  text-align: center;

  padding: 10px;
  margin-top: 0;
  clear: both;
}

.footer-link a {
  text-decoration: none;
}

a {
  color: blueviolet;
}
